**/.svn/*
**/node_modules/**
**/db_buffer/**
**/build/**
**/file_pool/**
**/.vscode/*

*.class
*.zip
*.7z
*.rar
*.log
*.o
*.gch
*.obj
*.sbr
*.tlog
*.pdb
*.exp
*.node
*.sln
*.cert
*.jpfx

auth.prj/secret